
/* Adds background color, font size, font type to body */
body{
  background-color: rgb(247, 159, 207);
  font-size: 18px;
  font-family:Arial, Helvetica, sans-serif ;
}

/* adds color purple to header and footer */
header,footer {
background: rgb(89, 7, 182);
}

/* Adds color green to header 1 */
.site-title{
  color: green;
}

/* Adds id to image  and shadow box */
#my-image{
  box-shadow: 0px 0px 2px 1px black 
}

/* Changes class=b bullet list to squares */
ul.b{
  list-style-type: square;
}

/* Adds yellow background to unordered list class=b on odd list items */
ul.b li:nth-child(odd){
background-color: yellow;
}

/* Removes bullets from class=a unordered list */
ul.a {
  list-style-type: none;
}

/* Removes underline from links */
a:link {
  text-decoration:none;
}

/* Adds background color to links and gives border */
ul.a {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  border: 2px solid rgb(0, 0, 0);
}

/* Makes the background link color cyan and text white when on active page */ 
.active{
  background-color: #96ecfd;
  color: white;
}

/* Makes text black on non active link gives padding to link blocks */
li a {
  display: block;
  color: rgb(0, 0, 0);
  padding: 8px 16px;
}

/* Gives border to bottom of links and centers text in blocks */
li a{
  text-align: center;
  border-bottom: 2px solid rgb(0, 0, 0);
}

/* Makes non active link background black on hover and changes font color to white */
li a:hover:not(.active) {
  background-color: rgb(0, 0, 0);
  color: white;
}